name: release

on:
  workflow_dispatch:

jobs:
  check_meson_version:
    runs-on: ubuntu-22.04
    if: ${{ startsWith(github.ref, 'refs/tags/v') }}
    steps:
      - uses: actions/checkout@v6
      - name: install meson and ninja
        run: |
          pip install --upgrade meson ninja
      - name: check meson version
        run: |
          MESON_VERSION=$(meson introspect meson.build --projectinfo | jq -r '.version')
          test "${{ github.ref_name }}" = "v${MESON_VERSION}"

  linux:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        arch: [aarch64, armv7]
    steps:
      - uses: actions/checkout@v6
      - uses: jirutka/setup-alpine@v1
        with:
          arch: ${{matrix.arch}}
          packages: "build-base make cmake"
      - name: build
        shell: alpine.sh {0}
        run: |
          mkdir build
          cd build
          cmake -DQJS_BUILD_WERROR=ON -DQJS_BUILD_CLI_STATIC=ON ..
          cd ..
          cmake --build build --target qjs_exe -j$(getconf _NPROCESSORS_ONLN)
          cmake --build build --target qjsc -j$(getconf _NPROCESSORS_ONLN)
          mv build/qjs build/qjs-linux-${{matrix.arch}}
          mv build/qjsc build/qjsc-linux-${{matrix.arch}}
      - name: check
        shell: alpine.sh {0}
        run: |
          file build/*-linux-${{matrix.arch}}
      - name: upload
        uses: actions/upload-artifact@v6
        with:
          name: qjs-linux-${{matrix.arch}}
          path: build/*-linux-${{matrix.arch}}
